@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.app{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.test{
    /* line-spacing */
    justify-content: space-between;
}